certifi==2024.8.30
    # via elastic-transport
elastic-transport==8.15.0
    # via elasticsearch
elasticsearch==8.15.1
mysql-replication==1.0.9
packaging==24.1
    # via mysql-replication
pymysql==1.1.1
    # via mysql-replication
urllib3==2.2.3
    # via elastic-transport
