Name: douyin
Host: 0.0.0.0
Port: 8888
DSN: dsnstring
Redis:
  Host: host:port
  Type: node

JWTSecret: 'SecretKey'



Minio:
  Endpoint: schema://host:port
  AccessKey: xxxx
  SecretKey: xxxx
  UseSSL: false
  Bucket: oss
